$Raleway: "Raleway", Arial;
$RalewayBold: "Raleway-Bold", Arial;
$RalewaySemiBold: "Raleway-SemiBold", Arial;

$CommissionerBold: "Commissioner-Bold", Arial;
$CommissionerMedium: "Commissioner-Medium", Arial;
$CommissionerRegular: "Commissioner-Regular", Arial;

$color-text: #1C1C1E;
$gray-dark: #8A8A8E;
$gray-light: #F3F3F9;
$gray: #C4C4C4;