@import "../../assets/scss/variables";
@import "../../assets/scss/mixin";

.book-player {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 1070px;
  justify-content: space-between;
  margin: 42px 0 36px;
  height: 170px;

  &-toms {
    display: flex;
    align-items: stretch;
    width: calc(60% - 20px);
    background: #F3F3F9;
    border-radius: 12px;

    .book-player-item {
      color: #8A8A8E;
      position: relative;
      padding-left: 20px;
      &::after {
        @include content;
        border-top: 5px solid transparent;
	      border-left: 8px solid #8A8A8E;
	      border-bottom: 5px solid transparent;
        top: 3px;
        left: 0;
      }
      &.active {
        color: #000;
        &::after {
          border-left-color: #000;
        }
      }
    }
  }

  &-control {
    display: flex;
    align-items: flex-end;
    background: #F3F3F9;
    border-radius: 12px;
    width: calc(100% - 240px);
  }

  &-toms-list {
    width: 240px;
    border-left: 1px solid rgba(138, 138, 142, 0.5);
    padding: 27px 15px 20px 23px;
  }

  &-items {
    height: 100%;
    background: #F3F3F9;
    border-radius: 12px;
    width: 40%;
    padding: 27px 15px 20px 23px;
  }

  &-list {
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #8A8A8E;
      border-radius: 20px;
    }
  }

  &-item {
    font-family: $CommissionerRegular;
    font-size: 14px;
    line-height: 17px;
    color: #1C1C1E;
    margin-top: 8px;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &:first-child {
      margin-top: 0;
    }
    &.active {
      font-family: $CommissionerBold;
    }
  }

  &-item-name {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  &-item-time {
    padding: 0 10px;
  }

  :global(.rhap_container) {
    background-color: transparent;
    box-shadow: none;
  }
  :global(.rhap_rewind-button),
  :global(.rhap_forward-button) {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    svg {
      display: none;
    }
  }
  :global(.rhap_play-pause-button),
  :global(.rhap_repeat-button),
  :global(.rhap_volume-button) {
    color: $color-text;
  }
  :global(.rhap_volume-indicator) {
    background: $color-text;
  }
  :global(.rhap_rewind-button) {
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.435 7.592a6.133 6.133 0 01-6.126 6.126.733.733 0 100 1.467c4.187 0 7.593-3.406 7.593-7.593 0-4.187-3.406-7.593-7.593-7.593-3.738 0-6.851 2.715-7.476 6.277a.357.357 0 01-.339.29h-1.332c-.162 0-.21.101-.108.226l2.21 2.705a.23.23 0 00.371 0l2.21-2.705c.103-.125.055-.227-.107-.227h-1.174c-.162 0-.272-.13-.237-.288.603-2.748 3.055-4.811 5.982-4.811a6.133 6.133 0 016.126 6.126zM3.33 12.138a5.9 5.9 0 01-.798-.054 7.442 7.442 0 01-.756-.132 6.357 6.357 0 01-.69-.21 5.284 5.284 0 01-.582-.258l.114-1.224a6.624 6.624 0 001.32.546c.22.064.436.112.648.144.216.032.422.048.618.048.628 0 1.08-.122 1.356-.366.28-.248.42-.564.42-.948 0-.456-.186-.802-.558-1.038-.372-.24-.894-.36-1.566-.36h-.858V7.212h.786c.456 0 .826-.056 1.11-.168.284-.116.492-.272.624-.468.136-.2.204-.428.204-.684 0-.388-.144-.676-.432-.864-.284-.188-.65-.282-1.098-.282-.188 0-.382.02-.582.06-.2.036-.402.09-.606.162a4.94 4.94 0 00-.612.252c-.2.1-.396.216-.588.348L.666 4.32a5.519 5.519 0 011.254-.51c.236-.064.478-.116.726-.156.248-.04.496-.06.744-.06.548 0 1.024.084 1.428.252.404.168.714.406.93.714.22.308.33.672.33 1.092 0 .344-.072.646-.216.906-.14.26-.328.476-.564.648a2.145 2.145 0 01-.78.348v.114c.216.04.43.11.642.21.216.1.412.238.588.414.18.172.322.38.426.624.108.244.162.532.162.864 0 .448-.11.85-.33 1.206-.216.356-.546.638-.99.846-.444.204-1.006.306-1.686.306zm7.544 0c-.588 0-1.094-.106-1.518-.318a2.839 2.839 0 01-1.044-.9 4.114 4.114 0 01-.606-1.356 7.068 7.068 0 01-.192-1.692c0-.848.122-1.592.366-2.232.244-.64.612-1.14 1.104-1.5.492-.36 1.11-.54 1.854-.54.568 0 1.06.104 1.476.312.416.204.762.496 1.038.876.276.376.482.826.618 1.35.136.52.204 1.096.204 1.728 0 .868-.124 1.622-.372 2.262-.248.636-.618 1.13-1.11 1.482-.488.352-1.094.528-1.818.528zm-.024-1.128c.472 0 .85-.136 1.134-.408.288-.276.498-.65.63-1.122.132-.472.198-1.01.198-1.614 0-.636-.07-1.188-.21-1.656-.136-.468-.35-.83-.642-1.086-.288-.26-.658-.39-1.11-.39-.46 0-.836.134-1.128.402-.288.268-.5.638-.636 1.11-.136.468-.204 1.008-.204 1.62 0 .612.066 1.154.198 1.626s.342.844.63 1.116c.288.268.668.402 1.14.402z' fill='%23000'/%3E%3C/svg%3E");
  }
  :global(.rhap_forward-button) {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.467 7.592a6.133 6.133 0 006.126 6.127.733.733 0 010 1.466C3.407 15.185 0 11.78 0 7.592 0 3.407 3.407 0 7.593 0c3.738 0 6.851 2.715 7.477 6.276.028.16.176.29.338.29h1.333c.162 0 .21.101.108.227l-2.21 2.704a.23.23 0 01-.372 0l-2.21-2.704c-.103-.126-.054-.227.108-.227h1.173c.162 0 .272-.13.238-.288-.604-2.748-3.056-4.812-5.983-4.812a6.133 6.133 0 00-6.126 6.126zM26.33 12.138a5.9 5.9 0 01-.798-.054 7.442 7.442 0 01-.756-.132 6.357 6.357 0 01-.69-.21 5.284 5.284 0 01-.582-.258l.114-1.224a6.624 6.624 0 001.32.546c.22.064.436.112.648.144.216.032.422.048.618.048.628 0 1.08-.122 1.356-.366.28-.248.42-.564.42-.948 0-.456-.186-.802-.558-1.038-.372-.24-.894-.36-1.566-.36h-.858V7.212h.786c.456 0 .826-.056 1.11-.168.284-.116.492-.272.624-.468.136-.2.204-.428.204-.684 0-.388-.144-.676-.432-.864-.284-.188-.65-.282-1.098-.282-.188 0-.382.02-.582.06-.2.036-.402.09-.606.162a4.94 4.94 0 00-.612.252c-.2.1-.396.216-.588.348l-.138-1.248a5.519 5.519 0 011.254-.51c.236-.064.478-.116.726-.156.248-.04.496-.06.744-.06.548 0 1.024.084 1.428.252.404.168.714.406.93.714.22.308.33.672.33 1.092 0 .344-.072.646-.216.906-.14.26-.328.476-.564.648a2.145 2.145 0 01-.78.348v.114c.216.04.43.11.642.21.216.1.412.238.588.414.18.172.322.38.426.624.108.244.162.532.162.864 0 .448-.11.85-.33 1.206-.216.356-.546.638-.99.846-.444.204-1.006.306-1.686.306zm7.544 0c-.588 0-1.094-.106-1.518-.318a2.839 2.839 0 01-1.044-.9 4.114 4.114 0 01-.606-1.356 7.068 7.068 0 01-.192-1.692c0-.848.122-1.592.366-2.232.244-.64.612-1.14 1.104-1.5.492-.36 1.11-.54 1.854-.54.568 0 1.06.104 1.476.312.416.204.762.496 1.038.876.276.376.482.826.618 1.35.136.52.204 1.096.204 1.728 0 .868-.124 1.622-.372 2.262-.248.636-.618 1.13-1.11 1.482-.488.352-1.094.528-1.818.528zm-.024-1.128c.472 0 .85-.136 1.134-.408.288-.276.498-.65.63-1.122.132-.472.198-1.01.198-1.614 0-.636-.07-1.188-.21-1.656-.136-.468-.35-.83-.642-1.086-.288-.26-.658-.39-1.11-.39-.46 0-.836.134-1.128.402-.288.268-.5.638-.636 1.11-.136.468-.204 1.008-.204 1.62 0 .612.066 1.154.198 1.626s.342.844.63 1.116c.288.268.668.402 1.14.402z' fill='%23000'/%3E%3C/svg%3E");
  }
  :global(.rhap_progress-bar) {
    height: 2px;
    background: $color-text;
  }
  :global(.rhap_download-progress),
  :global(.rhap_progress-filled) {
    background: $color-text;
  }
  :global(.rhap_progress-indicator) {
    width: 9px;
    height: 9px;
    background: $color-text;
    margin-left: -4px;
    top: -4px;
  }
}